/* Connect Four Styles */

$helvetica-neue:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-neue: "HelveticaNeue-Light", "Helvetica Neue Light", $helvetica-neue;

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: white;
	font-family: $helvetica-neue;

	color: #666;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	margin: 80px auto 50px auto;

	width: 93.75%;
	max-width: 1280px;

	border-top:1px solid #d4d4d4;

	text-transform: uppercase;
	text-align: center;

	h1 {
	 	position: relative;
		top: -34px;
		margin: auto;
		max-width: 500px;

		background-color: white;
		color: #444;
		font-size: 52px;
		text-transform: uppercase;

		a {
			color: inherit;
		}
	}

	nav {
		text-align: center;
		font-family: $helvetica-neue;
		letter-spacing: 0.5px;
		color: #888;

		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
		}

		ul li {
			display: inline-block;
			margin: 0px 20px;

			&.active {
				font-weight: bold;
			}
		}
	}
}

header a, footer a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

header + div.content {
	margin-bottom: 50px;
	background: #F5F5F1;
	border-radius: 6px;
	padding-bottom: 20px;

	flex: 1;
	display: flex;

	& > div.wrapper {
		margin: 0px auto;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;

		width: 93.75%;
		max-width: 1280px;

		flex: 1;
	}

	@media print {
		margin-bottom: 0px;
	}
}

footer {
	position: fixed;
	left:0px;
	right:0px;
	bottom: 0px;
	height: 50px;

	background-color: #333;
	color: white;

	.container {
		margin: 0px auto;
		width: 93.75%;
		max-width: 1280px;
	}

	.author {
		float:left;
		margin-top: 6px;
	}
	.code {
		float: right;
		margin-top: 9px;

		img {
			vertical-align: middle;
		}
	}

	@media print {
		display: none;
	}
}

/* Content Styles */

h2 {
	color: #9E9E9E;
	text-align: center;
	font-weight: lighter;
}

.block-container:after {
	clear: both;
}

section.block {
	h3 {
		color: #CECBB6;
		font-weight: normal;
		margin-bottom: 6px;
	}

	h4 {
		font-weight: normal;
		margin-bottom: 6px;
	}

	> p, > div {
		border-radius: 5px;
		background-color: white;
		margin: 0px;
		padding: 15px 15px;
	}

	> p {
		margin: 0px;
	}

	> div {
		p {
			margin: 0px;
		}
	}
}

th {
	text-align: left;
}

th + th, td + td {
	padding-left: 20px;
}


@import "game.scss";
